<html>
    <head>
        <title>
            Blog-app
        </title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
        <link rel="stylesheet" href="/css/app.css">
    </head>
    <body>
        <div class="ui inverted  menu">
            <a href="/" class="item"><i class=" code icon"></i>Blogs</a>
            <a href="/blogs/new" class="item"><i class="icon plus"></i>new Blog</a>
        </div>